{{!-- <!DOCTYPE html>
<html lang="en"> --}}

{{!-- <head>
  <meta charset="utf-8">
  <title>CalenDon't</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Urbanist&display=swap" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
</head> --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CalenDon’t</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Urbanist&display=swap" rel="stylesheet">
  <link href="./css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>



<body>
  <div class="wrapper">
    <div class="container-fluid h-100" id="header">
      <div class="row">
        <div class="col">
          <img class="logo" src="./images/skeletor.png"
            alt="Skeletor lounging on a couch in a snuggie with a glass of wine and a cat snuggled at his feet">
        </div>
        <div class="col">
          <h1>CalenDon't</h1>
          <h2>The Antisocial Social Planner</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid h-100">
    <div class="row min-vh-100 align-items-start">
      <aside class="col-12 col-md-2 p-0 " id="sidebar">
        <nav class="navbar navbar-expand navbar-dark flex-md-column flex-row align-items-center py-2">
          <div class="collapse navbar-collapse align-items-start">
            <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-around">
              <li class="nav-item">
                <a class="nav-link pl-0 text-nowrap" href="/"> <span class="font-weight-bold">Home</span></a>
              </li>
              <li class="nav-item">
                {{#if loggedIn}}
                <button id="logout" href="/logout" class="btn-no-style">Logout</button>
                {{else}}
                <button id="login" href="/login" class="btn-no-style">Login</button>
                {{/if}}
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0 text-nowrap" href="/about"> <span class="font-weight-bold">About CalenDon't</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-0 text-nowrap" href="/contact"> <span class="font-weight-bold">Contact Us</span></a>
              </li>
            </ul>
          </div>
        </nav>
      </aside>

  <main class="col offset-md-2 bg-faded py-3" style="text-align: center;" id="main">
    {{{body}}}
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script>
            $(function () {
              $('#datetimepicker1').datetimepicker();
            });
          </script>
        </main>
        <script src="./js/script.js"></script>
</body>

</html>