

         


          

          <div class="row" id="event-cards">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Event Title</h4>
                  <p class="participants">Participants</p>
                  <h5 class="status">Status</h5>
                  <a href="#" class="btn btn-primary" id="cancel-button">Not feeling it?</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Event Title</h4>
                  <p class="participants">Participants</p>
                  <h5 class="status">Status</h5>
                  <a href="#" class="btn btn-primary" id="cancel-button">Not feeling it?</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Event Title</h4>
                  <p class="participants">Participants</p>
                  <h5 class="status">Status</h5>
                  <a href="#" class="btn btn-primary" id="cancel-button">Not feeling it?</a>
                </div>
              </div>
            </div>
          </div>

                    <div class="row">
            <div class="col-sm-4 view-add-buttons">
            <button onclick="toggleEventDisplay()" id="event-display-button" class="btn btn-primary btn-lg btn-block">View Upcoming Events</button>
            </div>
          </div>

          



          

          <div class="row">
            <div class="col-sm-6">
              <form class="form event-form">
                <div class="form-group">
                  <label for="addEventName">What is your event called?</label>
                  <input type="text" class="form-control" id="addEventName"
                    placeholder="Enter event name">
                </div>
                <div class="form-group">
                  <label for="addEventParticipant">Who will be participating?</label>
                  <input type="text" class="form-control" id="addEventParticipant"
                    placeholder="Enter participant username">
                </div>
                <div class="form-group">
                  <label for="addEventDate">What is the date and time of your event?</label>
                  <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" id="addDateTime"/>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                  <button type="submit" class="btn btn-primary">Add Event</button>
                </div>
              </form>
            </div>
          </div>


<div class="row">
            <div class="col-sm-4 view-add-buttons">
              <button onclick="toggleEventForm(); "document.getElementById('addEventName', 'addEventParticipant').value = ''"" id="form-display-button" class="btn btn-primary btn-lg btn-block">Add New Event</button>
            </div>
          </div>




          <script>
            $(function () {
              $('#datetimepicker1').datetimepicker();
            });
          </script>
        {{!-- <script src="./js/script.js"></script> --}}
        <script src="./js/addevent.js"></script>