<p> Have you ever made plans in a moment of extroversion, ony to realize when the time came that you'd much rather snuggle up at home with a glass of wine and a good book &#40;or, let's be real, Netflix&#41;? And when that happened, did you feel too guilty to cancel on your friends for no good reason?</p>
<p>If so, then CalenDon't is here for you!</p>
<p>CalenDon't keeps track of your social plans by letting you add events and tag other participants. And, if you're not feeling it anymore, you can make a <b>SECRET</b> request to cancel simply by clicking the "Not Feeling It" button underneath each event.</p>
<p>If your friend also clicked that button on their end, then the event's status will turn red change to "Off the hook!" If they didn't, the event's status will stay green and read "It's on!"</p>
<p>This way, you can be your introverted self, and nobody's feelings get hurt.</p>


<div class="row justify-space-between-md" id="login-signup">
  <div class="col-sm-6">
    <div class="login-card">
      <h2 class="page-title">Log In</h2>
      <form class="form login-form">
        <div class="form-group">
          <label for="user-login">Username:</label>
          <input class="form-input" type="text" id="user-login" />
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Log In</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="login-card">
      <h2 class="page-title">Sign Up</h2>
      <form class="form signup-form">
        <div class="form-group">
          <label for="username-signup">Username:</label>
          <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">Email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">Password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>

  <script src="./js/login.js"></script>