body {
background-color: #03396c!important;
  text-align: center;
  /* background-image: url(rain-drops-seamless-pattern-background-vector-20437511.png); */
  /* background-size: cover;
  background-position: center;
  background-repeat: repeat; */
  max-height: 100%;
  width: 100%;
}



.row {
  align-items: center;
  justify-content: space-around;
}

.login-signup {
  justify-content: space-around;
  align-items:flex-start;
}

.login-card {
  margin: 20px;
  /* flex: 0 0 50%;
  max-width: 50%; */
  padding: 5px;
  /* border-radius: 50px;
  box-shadow: 0 2px 3px 5px rgba(0,0,0,.6);
  background-color: #9dcee2; */
  color: black;
}

.page-title {
  justify-content: center
}

.form-group {
  justify-content: start;
}

#sidebar-row {
  align-items: flex-start;
  justify-content: center;
}

#sidebar-links {
  justify-content:center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

  #header {
    font-family: 'Urbanist';
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: #90cbdb;  */
    background-color: #b3cde0;
    opacity: .95;
    margin: 20px;
    /* border-radius: 50px;
    box-shadow: 0 2px 3px 5px rgba(0,0,0,.6); */
    }
  

  #sidebar {
    font-family: 'Urbanist';
    background-color: #005b96;
    opacity: .95;
    margin: 20px;
    padding: 20px;
    /* border-radius: 50px;
    border: 2px solid black;
    box-shadow: 0 1px 2px 3px rgba(0,0,0,.6);
   */
  }

  #main {
    font-family: 'Urbanist';
    background-color: #CAE6EE; opacity: .95; 
    margin: 20px;
    padding: 20px;
    /* border-radius: 50px;
    box-shadow: 0 2px 3px 5px rgba(0,0,0,.6);
   */
  }

  .logo {
    padding: 20px
  }

  h1 {
    font-size: 56pt;
  }

  h2 {
      font-size: 22pt;
  }

#login-form {
  justify-content: left;
}

.card {
  /* border-radius: 50px; */
  margin: 20px;
  /* box-shadow: 0 1px 1px 1px rgba(0,0,0,.6);
*/
}
  
#event-form {
  background-color: #90cbdb;
  opacity: .95;
  margin: 40px;
  padding: 20px;
  /* border-radius: 50px;
  box-shadow: 0 2px 3px 5px rgba(0,0,0,.6); */
  display: none;
}

#event-cards {
  display: none;
}

.view-add-buttons{
  margin: 20px;
}
